services:
  - type: web
    name: mseuf-reservation-backend
    env: node
    region: singapore
    plan: starter
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: false
      - key: PUPPETEER_CACHE_DIR
        value: /opt/render/project/.cache/puppeteer
    # Ensure Puppeteer Chrome is cached
    autoDeploy: true
